@tailwind base;
@tailwind components;
@tailwind utilities;

.badge {
  position: relative;
  width: 500px; /* Adjust size as needed */
  height: 500px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #262e4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 1rem;
}

/* Yellow middle ring */
.badge::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 40px solid #ffce00;
}

/* Score text */
.score {
  font-weight: bold;
  font-size: 8rem; /* Adjust size as needed */
  z-index: 1;
  color: #ffce00;
}

.best {
  font-size: 6rem; /* Adjust size as needed */
  z-index: 1;
  color: #ffce00;
  margin-top: -100px;
}
